body {
  font: 400 1em/1.38 Montserrat;
  color: rgb(0, 0, 0);
}

.page-downloads {
  background-color: rgb(255, 255, 255);
  font-family: Helvetica;
}

.page-index {
  background-color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.page-vivo {
  background-color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.--hora-de-acordar {
  position: absolute;
  top: 572px;
  left: 30.4%;
  z-index: 21;
  width: 39.19921875%;
  min-height: 51px;
  font-family: Raleway;
  font-size: 1em;
  font-weight: 100;
  text-align: center;
  color: rgb(0, 0, 0);
}

.arte-foto-rodape {
  position: relative;
  float: left;
  z-index: 25;
  width: 100%;
  height: 321px;
  background: url('../images/back-04.jpg') rgb(222, 222, 222);
  background-size: cover;
  background-position: left top;
}

.assinar {
  display: block;
  position: relative;
  float: left;
  z-index: 8;
  width: 12%;
  height: 40px;
  margin: -52px 0 0 78%;
  border-radius: 3px;
  background-color: #ff9900;
  font-family: 'Merriweather Sans';
  font-size: 1em;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
}

.assinar:hover {
  background-color: rgb(102, 0, 153);
  color: #ffffff;
}

.back-banner {
  position: relative;
  float: left;
  clear: both;
  z-index: 15;
  width: 46%;
  height: 111px;
  margin: -319px 0 0 10%;
  background-color: rgb(222, 222, 222);
}

.back-video {
  position: relative;
  float: left;
  clear: both;
  z-index: 26;
  width: 100%;
  height: 494px;
  margin-top: -653px;
  background-color: rgb(0, 0, 0);
}

.banner {
  position: relative;
  float: left;
}

.box-meio-direita {
  position: relative;
  float: left;
  z-index: 19;
  width: 50.2499999999%;
  height: 370px;
  margin: -410px 0 0 46%;
  background-color: rgb(222, 222, 222);
}

.box-meio-esquerda {
  position: relative;
  float: left;
  z-index: 18;
  width: 34%;
  height: 604px;
  margin: -604px 0 0 10%;
  background: rgb(255, 255, 255);
  background: -webkit-linear-gradient(266deg, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 100%) rgb(17, 17, 17);
  background:    -moz-linear-gradient(266deg, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 100%) rgb(17, 17, 17);
  background:      -o-linear-gradient(266deg, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 100%) rgb(17, 17, 17);
  background:     -ms-linear-gradient(266deg, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 100%) rgb(17, 17, 17);
  background:         linear-gradient(184deg, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 100%) rgb(17, 17, 17);
}

.cep {
  display: block;
  position: relative;
  float: left;
  z-index: 18;
  width: 20.4166666666%;
  height: 40px;
  margin: -52px 0 0 44%;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-family: 'Merriweather Sans';
  font-size: 0.813em;
  color: rgb(0, 0, 0);
}

.checkbox {
  display: block;
  float: left;
  margin-top: 3px;
}

.checkbox-label {
  display: block;
  float: left;
  width: 6.8%;
  height: 25px;
  margin: 262px 0 0 3.04948%;
}

.container {
  position: relative;
  float: left;
  z-index: 37;
  width: 80%;
  height: 354px;
  margin: 40px 0 0 10%;
}

.copy {
  position: relative;
  float: left;
  clear: both;
  z-index: 12;
  width: 100.75%;
  height: 59px;
  margin-left: -0.75%;
  background-color: rgb(0, 0, 0);
}

.download {
  position: relative;
  float: left;
  z-index: 8;
  width: 100%;
  height: 156px;
  background-color: rgb(11, 11, 11);
}

.element {
  float: left;
  clear: both;
  width: 100%;
}

.esquerdo-info-texto {
  position: relative;
  float: left;
  z-index: 29;
  width: 25.5833333333%;
  height: 184px;
  margin: 10px 0 0 10%;
  border: 2px solid rgb(102, 0, 153);
  border-radius: 6px;
  background-color: #ffffff;
}

.final_rodape {
  position: relative;
  float: left;
  clear: both;
  z-index: 2;
  width: 100%;
  height: 653px;
  background: url('../images/footer-texture-bg.jpg') rgb(0, 0, 0);
  background-size: auto auto;
  background-position: left top;
}

.home {
  position: relative;
  float: left;
  z-index: 0;
  width: 100%;
  height: 827px;
  background: url('../images/home-hero-sculpture.png') rgb(242, 237, 237);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center top;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5) inset;
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.info-menu {
  float: left;
  width: 80%;
  height: 17px;
  margin-left: 10%;
  background-color: #660099;
}

.logo {
  display: block;
  height: auto;
  overflow: hidden;
}

.logo_tipografia {
  display: block;
  position: relative;
  float: left;
  z-index: 29;
  width: 586px;
  height: auto;
  margin: -244px 0 0 25.41667%;
  overflow: hidden;
}

.meio-info-texto {
  position: relative;
  float: left;
  width: 25.5833333333%;
  height: 184px;
  margin-top: -184px;
  border: 2px solid rgb(102, 0, 153);
  border-radius: 6px;
  background-color: #ffffff;
}

.menu {
  position: relative;
  float: left;
  z-index: 3;
  width: 100%;
  height: 40px;
  background-color: rgb(222, 222, 222);
}

.pandorum-2017 {
  position: relative;
  float: left;
  clear: both;
  z-index: 13;
  width: 40.8333333333%;
  min-height: 30px;
  margin: -37px 0 0 28.98177%;
  font-family: 'Merriweather Sans';
  font-size: 0.875em;
  font-weight: 300;
  text-align: center;
  color: rgb(0, 0, 0);
}

.pandorum-tipografia {
  visibility: hidden;
  position: absolute;
  top: 469px;
  left: 23.6%;
  z-index: 14;
  width: 52.8333333333%;
  min-height: 65px;
  font-size: 4.688em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.planos {
  position: absolute;
  top: 1224px;
  left: 0;
  right: 0;
  z-index: 40;
  width: 39.1666666666%;
  min-height: 25px;
  margin: 0 auto;
  font-family: 'Merriweather Sans';
  font-size: 0.75em;
  color: rgb(0, 0, 0);
}

.point-text {
  display: block;
  float: left;
  margin-left: 6px;
}

.quadrado-data {
  position: relative;
  float: left;
  clear: both;
  z-index: 16;
  width: 25.6666666666%;
  height: 91px;
  margin: -126px 0 0 37.1992199999%;
  border: 5px solid rgb(128, 128, 128);
}

.rodape {
  position: relative;
  float: left;
  clear: both;
  z-index: 5;
  width: 100%;
  height: 62px;
  background-color: #660099;
}

.separador {
  position: relative;
  float: left;
}

.shop {
  position: relative;
  float: left;
  z-index: 7;
  width: 100%;
  height: 528px;
  margin-top: 76px;
  background-color: rgb(196, 196, 196);
}

.tabela {
  position: relative;
  float: left;
  width: 25.5833333333%;
  height: 269px;
  border-radius: 6px;
}

.tabela-direita {
  position: relative;
  float: left;
  z-index: 9;
  width: 25.5833333333%;
  height: 269px;
  margin: -269px 0 0 64.42578%;
  border-radius: 6px;
  background-color: rgb(222, 222, 222);
}

.tabela-direita:hover {
  background-color: #8300c6;
}

.text-6 p {
  margin-bottom: 1em;
}

.topo {
  float: left;
  width: 100%;
  height: 41px;
  margin-top: -5px;
  background-color: #660099;
}

.viabilidade {
  position: relative;
  float: left;
  clear: both;
  z-index: 19;
  width: 12%;
  min-height: 20px;
  margin: -44px 0 0 30.41667%;
  font-family: 'Merriweather Sans';
  font-size: 1em;
  text-align: right;
  color: rgb(0, 0, 0);
}

.vivo-2017 {
  position: relative;
  float: left;
  clear: both;
  z-index: 10;
  width: 25.5833333333%;
  min-height: 22px;
  margin: -45px 0 0 37.66667%;
  font-family: 'Merriweather Sans';
  font-size: 1em;
  text-align: center;
  color: rgb(250, 248, 248);
}

.whats {
  position: relative;
  float: left;
  z-index: 11;
  width: 100%;
  height: 190px;
  background: url('../images/panel-texture(2).jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.wrapper {
  position: relative;
  float: left;
  overflow: hidden;
}

.x {
  position: relative;
  float: left;
  clear: both;
  z-index: 14;
  width: 25.6%;
  min-height: 25px;
  margin: 56px 0 0 10%;
  font-family: 'Merriweather Sans';
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.y {
  position: relative;
  float: left;
  z-index: 22;
  width: 25.5989583333%;
  min-height: 25px;
  margin: 56px 0 0 1.59896%;
  font-family: 'Merriweather Sans';
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.z {
  position: relative;
  float: left;
  z-index: 21;
  width: 25.5989583333%;
  min-height: 25px;
  margin: 56px 0 0 1.54688%;
  font-family: 'Merriweather Sans';
  font-size: 1em;
  color: rgb(0, 0, 0);
}

._29-04-17 {
  position: relative;
  float: left;
  min-height: 81px;
  font-family: Oxygen;
  font-size: 3.125em;
  font-weight: 300;
  text-align: center;
  color: rgb(128, 128, 128);
}

._button {
  display: block;
  text-align: center;
}

._input {
  display: block;
  float: left;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  color: rgb(0, 0, 0);
}

.banner-1 {
  z-index: 4;
  width: 80%;
  height: 460px;
  margin: 10px 0 0 10%;
  background: url('../images/crian%C3%A7as.jpg') rgb(222, 222, 222);
  background-size: auto auto;
  background-position: center center;
}

.banner-2 {
  z-index: 9;
  width: 100%;
  height: 713px;
  background: url('../images/fd9ebb16dc6aa3d225565b7bc005b6aa-d4fpmy0.jpg'), url('../images/back-02.jpg') rgb(13, 12, 12);
  background-repeat: no-repeat, repeat;
  background-size: contain, auto auto;
  background-position: left top, left top;
  background-attachment: scroll, scroll;
}

.element-1 {
  position: relative;
  z-index: 28;
  height: 400px;
  margin-top: -827px;
  background-color: rgb(15, 14, 14);
}

.element-2 {
  height: 169px;
  margin-top: 5px;
  background-color: #51007b;
}

.image-1 {
  position: relative;
  float: left;
  z-index: 17;
  width: 105px;
  margin: -296px 0 0 41.91667%;
}

.image-2 {
  position: relative;
  float: left;
  clear: both;
  z-index: 10;
  width: 346px;
  margin: -582px 0 0 35.59896%;
}

.image-2:hover,
.logo-2:hover {
  -webkit-transform: scaley(-1);
  -moz-transform: scaley(-1);
  -o-transform: scaley(-1);
  -ms-transform: scaley(-1);
  transform: scaley(-1);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.image-3 {
  position: relative;
  float: left;
  z-index: 13;
  width: 95px;
  margin: -234px 0 0 2.16146%;
}

.image-4 {
  width: 144px;
  margin: 1628px auto 0;
}

.logo-1 {
  float: left;
  width: 105px;
  margin: 15px 0 0 10%;
}

.logo-2 {
  position: fixed;
  top: 15px;
  left: 5.9166666666%;
  z-index: 6;
  width: 90px;
}

.meio-info-texto-1 {
  z-index: 30;
  margin-left: 37.21224%;
}

.meio-info-texto-2 {
  z-index: 31;
  margin-left: 64.42578%;
}

.separador-1 {
  clear: both;
  z-index: 12;
  width: 25.5833333333%;
  height: 2px;
  margin: 10px 0 0 10%;
  background-color: #660099;
}

.separador-2 {
  z-index: 27;
  width: 25.5833333333%;
  height: 2px;
  margin: 10px 0 0 1.61589%;
  background-color: #660099;
}

.separador-3 {
  z-index: 23;
  width: 25.5833333333%;
  height: 2px;
  margin: 10px 0 0 1.63021%;
  background-color: #660099;
}

.separador-4 {
  clear: both;
  z-index: 15;
  width: 100%;
  height: 156px;
  margin-top: -604px;
  background: url('../images/stars.gif') rgb(222, 222, 222);
  background-size: auto auto;
  background-position: left top;
}

.tabela-1 {
  clear: both;
  z-index: 7;
  margin: 10px 0 0 10%;
  background-color: #ff9900;
}

.tabela-1:hover {
  background-color: #8cd600;
}

.tabela-2 {
  z-index: 11;
  margin: -269px 0 0 37.21224%;
  background-color: #950051;
}

.tabela-2:hover {
  background-color: #650099;
}

.text-1 {
  position: absolute;
  top: 319px;
  left: 10%;
  z-index: 16;
  padding: 15px;
  font-family: 'Merriweather Sans';
  font-size: 1em;
  color: #660099;
}

.text-2 {
  position: relative;
  float: left;
  clear: both;
  z-index: 32;
  width: 25.5833333333%;
  min-height: 113px;
  margin: -212px 0 0 10%;
  padding: 50px;
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  color: rgb(102, 0, 153);
}

.text-3 {
  position: relative;
  float: left;
  z-index: 33;
  width: 25.0833333333%;
  min-height: 113px;
  margin: -212px 0 0 37.25%;
  padding: 50px;
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.text-4 {
  position: absolute;
  top: 908px;
  left: 15.1666666666%;
  z-index: 30;
  width: 68%;
  min-height: 110px;
  padding: 25px;
  font-family: Oswald;
  font-size: 1.563em;
  text-align: center;
  color: rgb(230, 230, 230);
}

.text-5 {
  position: relative;
  float: left;
  z-index: 34;
  width: 25.5833333333%;
  min-height: 113px;
  margin: -212px 0 0 64.34375%;
  padding: 50px;
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  color: #70ab00;
}

.text-6 {
  position: relative;
  float: left;
  clear: both;
  z-index: 35;
  margin: -155px 0 0 14.69922%;
  font-size: 1em;
  color: rgb(102, 0, 153);
}

.text-7 {
  position: relative;
  float: left;
  clear: both;
  z-index: 24;
  width: 39.1666666666%;
  min-height: 48px;
  margin: -174px 0 0 30.41667%;
  padding: 16px;
  font-size: 1em;
  text-align: center;
  color: rgb(249, 246, 246);
}

.wrapper-1 {
  z-index: 31;
  width: 80%;
  height: 170px;
  margin: -679px 0 0 10%;
}

.wrapper-2 {
  clear: both;
  z-index: 38;
  width: 79.9166666666%;
  height: 349px;
  margin: -328px 0 0 10%;
}

.wrapper-3 {
  z-index: 27;
  width: 69.6666666666%;
  height: 376px;
  margin: -600px 0 0 15.16667%;
}

._29-04-17-1 {
  z-index: 17;
  width: 25.6666666666%;
  margin: -117px 0 0 37.1992199999%;
}

._29-04-17-2 {
  z-index: 20;
  width: 39.1666666666%;
  margin: -561px 0 0 30.39974%;
}

._button-1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 24;
  width: 12%;
  height: 25px;
  margin: -32px 0 0 30.41667%;
  border-radius: 3px;
  font-size: 1em;
  font-weight: 700;
  color: #660099;
}

._button-2 {
  position: relative;
  float: left;
  z-index: 25;
  width: 12%;
  height: 25px;
  margin: -32px 0 0 44%;
  border-radius: 3px;
  font-size: 1em;
  font-weight: 700;
  color: rgb(102, 0, 153);
}

._button-3 {
  position: relative;
  float: left;
  z-index: 26;
  width: 12%;
  height: 25px;
  margin: -32px 0 0 57.59896%;
  border-radius: 3px;
  font-size: 1em;
  font-weight: 700;
  color: #660099;
}

._button-1:hover,
._button-2:hover,
._button-3:hover {
  color: #ba0066;
}

._button-4 {
  position: relative;
  float: left;
  z-index: 1;
  width: 20.4166666666%;
  height: 69px;
  margin: 207px 0 0 -2796202.66667%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  color: rgb(0, 0, 0);
}

._button-5 {
  position: relative;
  float: left;
  z-index: 20;
  width: 20.4166666666%;
  height: 59px;
  margin: -202px 0 0 35.58203%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-family: 'Merriweather Sans';
  font-size: 1em;
  font-weight: 700;
  color: rgb(102, 0, 153);
}

._button-5:hover {
  background-color: #ff9900;
}

._button-6 {
  position: fixed;
  top: 39px;
  left: 64.4166666666%;
  z-index: 5;
  width: 13.5833333333%;
  height: 48px;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  color: rgb(0, 0, 0);
}

._button-6:hover {
  background-color: rgba(102, 14, 0, 0.96);
  color: rgb(128, 128, 128);
}

._button-7 {
  position: fixed;
  top: 39px;
  left: 78.6666666666%;
  z-index: 4;
  width: 13.6158854166%;
  height: 48px;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  color: rgb(0, 0, 0);
}

._button-7:hover {
  background-color: rgba(255, 35, 0, 0.96);
  color: rgb(26, 26, 26);
}

._button-8 {
  position: relative;
  float: left;
  z-index: 36;
  width: 9.734375%;
  height: 26px;
  margin: -38px 0 0 23.59896%;
  border-radius: 3px;
  background-color: #650099;
  font-size: 0.75em;
  color: #ffffff;
}

._button-9 {
  position: relative;
  float: left;
  z-index: 23;
  width: 12.8333333333%;
  height: 55px;
  margin: -108px 0 0 63.58203%;
  background-color: rgb(171, 9, 9);
  font-size: 1em;
  color: rgb(0, 0, 0);
}

._button-9:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(128, 128, 128);
}

._container-1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 2;
  width: 100%;
  height: 69px;
  background-color: #ffffff;
}

._element-1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 125px;
  background-color: rgb(6, 6, 6);
}

._element-1:active {
  background-color: rgb(18, 17, 17);
}

._input-1 {
  position: relative;
  z-index: 22;
  width: 39.25%;
  height: 55px;
  margin: -108px 0 0 23.58073%;
  font-size: 1.125em;
}

._input-2 {
  width: 0.0833333333%;
  margin: 213px 0 0 24.08073%;
  font-size: 0.813em;
  font-weight: 400;
}

.--hora-de-acordar span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: 1.875em;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(128, 128, 128);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.pandorum-2017 span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(243, 239, 239);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.pandorum-tipografia span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-size: inherit;
  font-weight: 700;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(253, 246, 246);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.planos span,
.planos strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: 2.083em;
  font-weight: 800;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #6d2f8f;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: Montserrat;
  font-style: normal;
  font-size: 1.563em;
  font-weight: 700;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(102, 0, 153);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.viabilidade span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-size: inherit;
  font-weight: 300;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.x strong,
.y strong,
.z strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: 1.563em;
  font-weight: 800;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #6d2f8f;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

@media(max-width: 745px) {
  body {
    font-size: 1em;
  }

  .--hora-de-acordar {
    top: 384px;
  }

  .arte-foto-rodape {
    position: relative;
    z-index: 25;
  }

  .back-video {
    position: relative;
    z-index: 26;
  }

  .box-meio-direita {
    position: relative;
    z-index: 19;
    margin-left: 45.99832%;
  }

  .box-meio-esquerda {
    position: relative;
    z-index: 18;
  }

  .copy {
    position: relative;
    z-index: 12;
    margin-left: -0.74874%;
  }

  .download {
    position: relative;
    z-index: 8;
  }

  .final_rodape {
    position: relative;
    z-index: 2;
  }

  .home {
    position: relative;
    z-index: 0;
    height: 563px;
  }

  .logo_tipografia {
    position: relative;
    z-index: 29;
    height: auto;
    margin-left: 11.33809%;
  }

  .pandorum-2017 {
    position: relative;
    z-index: 13;
    margin-left: 28.97861%;
  }

  .quadrado-data {
    position: relative;
    z-index: 16;
    margin-left: 37.19799%;
  }

  .shop {
    position: relative;
    z-index: 7;
  }

  .whats {
    position: relative;
    z-index: 11;
  }

  ._29-04-17 {
    position: relative;
  }

  ._html {
    position: relative;
  }

  .banner-2 {
    position: relative;
    z-index: 9;
  }

  .element-1 {
    position: relative;
    z-index: 28;
  }

  .image-2 {
    position: relative;
    z-index: 10;
    height: auto;
    margin-left: 27.67408%;
  }

  .logo-2 {
    height: auto;
  }

  .separador-4 {
    position: relative;
    z-index: 15;
  }

  .text-4 {
    top: 879px;
    left: 16%;
  }

  .text-7 {
    position: relative;
    z-index: 24;
    margin-left: 30.41527%;
  }

  .wrapper-1 {
    z-index: 31;
    margin-top: -612px;
    margin-left: 9.99581%;
  }

  .wrapper-3 {
    z-index: 27;
    margin-left: 15.16569%;
  }

  ._29-04-17-1 {
    z-index: 17;
    margin-left: 37.19799%;
  }

  ._29-04-17-2 {
    z-index: 20;
    margin-left: 30.39849%;
  }

  ._button-4 {
    position: relative;
    z-index: 1;
    margin-left: -2796202.68456%;
  }

  ._button-9 {
    position: relative;
    z-index: 23;
    margin-left: 63.58012%;
  }

  ._input-1 {
    position: relative;
    z-index: 22;
    margin-left: 23.58012%;
  }
}

@media(max-width: 700px) {
  body {
    font-size: 1em;
  }

  .--hora-de-acordar {
    top: 376px;
  }

  .arte-foto-rodape {
    position: relative;
    z-index: 25;
  }

  .back-video {
    position: relative;
    z-index: 26;
    width: 69.6620639534%;
    height: 285px;
  }

  .box-meio-direita {
    position: relative;
    z-index: 19;
    margin-left: 46%;
  }

  .box-meio-esquerda {
    position: relative;
    z-index: 18;
  }

  .copy {
    position: relative;
    z-index: 12;
    width: 100%;
    margin-left: -0.75%;
  }

  .download {
    position: relative;
    z-index: 8;
  }

  .final_rodape {
    position: relative;
    z-index: 2;
  }

  .home {
    position: relative;
    z-index: 0;
    height: 633px;
  }

  .logo_tipografia {
    position: relative;
    z-index: 29;
    width: 476px;
    height: auto;
    margin-top: -240px;
    margin-left: 16%;
  }

  .pandorum-2017 {
    position: relative;
    z-index: 13;
    margin-left: 28.97991%;
  }

  .quadrado-data {
    position: relative;
    z-index: 16;
    margin-left: 37.1986599999%;
  }

  .shop {
    position: relative;
    z-index: 7;
  }

  .whats {
    position: relative;
    z-index: 11;
  }

  ._29-04-17 {
    position: relative;
  }

  ._html {
    position: relative;
  }

  .banner-2 {
    position: relative;
    z-index: 9;
  }

  .element-1 {
    position: relative;
    z-index: 28;
  }

  .image-2 {
    position: relative;
    z-index: 10;
    height: auto;
    margin-left: 25.41518%;
  }

  .logo-2 {
    height: auto;
  }

  .separador-4 {
    position: relative;
    z-index: 15;
  }

  .text-4 {
    top: 865px;
    left: 15.2%;
  }

  .text-7 {
    position: relative;
    z-index: 24;
    margin-left: 30.41518%;
  }

  .wrapper-1 {
    z-index: 31;
    margin-top: -646px;
    margin-left: 10%;
  }

  .wrapper-3 {
    z-index: 27;
    height: 209px;
    margin-left: 15.16518%;
  }

  ._29-04-17-1 {
    z-index: 17;
    margin-left: 37.1986599999%;
  }

  ._29-04-17-2 {
    z-index: 20;
    width: 47.5714285714%;
    margin-left: 22%;
  }

  ._button-4 {
    position: relative;
    z-index: 1;
    margin-left: -2796202.85714%;
  }

  ._button-7 {
    left: 78.7142857142%;
    width: 17.5714285714%;
  }

  ._button-9 {
    position: relative;
    z-index: 23;
    margin-left: 63.58036%;
  }

  ._input-1 {
    position: relative;
    z-index: 22;
    margin-left: 23.58036%;
  }
}

@media(max-width: 656px) {
  body {
    font-size: 1em;
  }

  .--hora-de-acordar {
    top: 563px;
    left: 27.4390243902%;
    width: 46.0365853658%;
  }

  .arte-foto-rodape {
    position: relative;
    z-index: 25;
  }

  .back-video {
    position: relative;
    z-index: 26;
    width: 100%;
    margin-top: -344px;
  }

  .box-meio-direita {
    position: relative;
    z-index: 19;
    margin-top: -395px;
    margin-left: 44.49552%;
  }

  .box-meio-esquerda {
    position: relative;
    z-index: 18;
    margin-top: -395px;
    margin-left: 9.99905%;
  }

  .copy {
    position: relative;
    clear: none;
    z-index: 12;
    margin-left: 0;
  }

  .download {
    position: relative;
    z-index: 8;
  }

  .final_rodape {
    position: relative;
    z-index: 2;
    margin-top: -309px;
  }

  .home {
    position: relative;
    z-index: 0;
    margin-top: 404px;
  }

  .logo_tipografia {
    position: relative;
    z-index: 29;
    width: 421px;
    height: auto;
    margin-top: -244px;
    margin-left: 18.13548%;
  }

  .pandorum-2017 {
    position: relative;
    z-index: 13;
    margin-left: 28.98009%;
  }

  .pandorum-tipografia {
    left: 16.7682926829%;
    width: 66.6158536585%;
    font-size: 3.125em;
  }

  .quadrado-data {
    position: relative;
    z-index: 16;
    margin-left: 37.19512%;
  }

  .shop {
    position: relative;
    z-index: 7;
    height: 445px;
    margin-top: 19px;
  }

  .whats {
    position: relative;
    z-index: 11;
  }

  ._29-04-17 {
    position: relative;
  }

  ._html {
    position: relative;
  }

  .banner-2 {
    position: relative;
    z-index: 9;
  }

  .element-1 {
    position: relative;
    z-index: 28;
    margin-top: -967px;
  }

  .image-2 {
    position: relative;
    z-index: 10;
    height: auto;
    margin-left: 23.62805%;
  }

  .logo-2 {
    height: auto;
  }

  .separador-4 {
    position: relative;
    z-index: 15;
    margin-top: -601px;
  }

  .text-4 {
    top: 879px;
    left: 16%;
  }

  .text-7 {
    position: relative;
    z-index: 24;
    margin-left: 30.41635%;
  }

  .wrapper-1 {
    z-index: 31;
    margin-top: -785px;
    margin-left: 9.99905%;
  }

  .wrapper-3 {
    z-index: 27;
    width: 79.8780487804%;
    height: 235px;
    margin-top: -303px;
    margin-left: 10.06098%;
  }

  ._29-04-17-1 {
    z-index: 17;
    margin-left: 37.19512%;
  }

  ._29-04-17-2 {
    clear: both;
    z-index: 20;
    width: 80.0304878048%;
    margin-top: -614px;
    margin-left: 9.90854%;
  }

  ._button-4 {
    position: relative;
    z-index: 1;
    margin-left: -2796202.7439%;
  }

  ._button-6 {
    left: 55.9999999999%;
  }

  ._button-7 {
    left: 71.2%;
    width: 18.5975609756%;
  }

  ._button-9 {
    position: relative;
    z-index: 23;
    margin-left: 62.83108%;
  }

  ._input-1 {
    position: relative;
    z-index: 22;
    width: 39.3292682926%;
    margin-left: 23.62805%;
  }
}

@media(max-width: 600px) {
  body {
    font-size: 1em;
  }

  .--hora-de-acordar {
    top: 369px;
    left: 23.6%;
    width: 52.6666666666%;
  }

  .arte-foto-rodape {
    position: relative;
    z-index: 25;
  }

  .back-video {
    position: relative;
    z-index: 26;
    margin-left: -0.75%;
  }

  .box-meio-direita {
    position: relative;
    z-index: 19;
    margin-left: 44.5%;
  }

  .box-meio-esquerda {
    position: relative;
    z-index: 18;
    margin-left: 10%;
  }

  .copy {
    position: relative;
    clear: both;
    z-index: 12;
    margin-top: -610px;
    margin-left: -0.75%;
  }

  .download {
    position: relative;
    z-index: 8;
    margin-top: 88px;
  }

  .final_rodape {
    position: relative;
    z-index: 2;
  }

  .home {
    position: relative;
    z-index: 0;
    margin-top: 0;
  }

  .logo_tipografia {
    position: relative;
    z-index: 29;
    width: 418px;
    height: auto;
    margin-top: -431px;
    margin-left: 15.16667%;
  }

  .pandorum-2017 {
    position: relative;
    clear: none;
    z-index: 13;
    margin-top: -588px;
    margin-left: 28.98177%;
  }

  .pandorum-tipografia {
    top: 271px;
    left: 10%;
    width: 80%;
  }

  .quadrado-data {
    position: relative;
    z-index: 16;
    margin-left: 37.19792%;
  }

  .shop {
    position: relative;
    z-index: 7;
    margin-top: 76px;
  }

  .whats {
    position: relative;
    z-index: 11;
  }

  ._29-04-17 {
    position: relative;
  }

  ._html {
    position: relative;
  }

  .banner-2 {
    position: relative;
    z-index: 9;
  }

  .element-1 {
    position: relative;
    z-index: 28;
    margin-top: -827px;
  }

  .image-2 {
    position: relative;
    z-index: 10;
    width: 205px;
    height: auto;
    margin-top: -642px;
    margin-left: 31.83073%;
  }

  .logo-2 {
    top: 7px;
    left: 37.1666666666%;
    width: 107px;
    height: auto;
  }

  .separador-4 {
    position: relative;
    z-index: 15;
    margin-top: -604px;
  }

  .text-4 {
    top: 706px;
    left: 15.1666666666%;
  }

  .text-7 {
    position: relative;
    z-index: 24;
    margin-left: 30.41667%;
  }

  .wrapper-1 {
    z-index: 31;
    margin-top: -633px;
    margin-left: 10%;
  }

  .wrapper-3 {
    z-index: 27;
    width: 69.6666666666%;
    height: 209px;
    margin-top: -819px;
    margin-left: 15.16667%;
  }

  ._29-04-17-1 {
    z-index: 17;
    margin-left: 37.19792%;
  }

  ._29-04-17-2 {
    z-index: 20;
    margin-top: -612px;
    margin-left: 10%;
    font-size: 2.813em;
  }

  ._button-4 {
    position: relative;
    z-index: 1;
    margin-left: -2796202.66667%;
  }

  ._button-6 {
    top: 46px;
    left: 16.7999999999%;
  }

  ._button-7 {
    top: 46px;
    left: 62.8307291666%;
    width: 20.3333333333%;
  }

  ._button-9 {
    position: relative;
    z-index: 23;
    margin-left: 62.83073%;
  }

  ._input-1 {
    position: relative;
    z-index: 22;
    width: 37.7358490566%;
    margin-left: 30.41667%;
  }
}

@media(max-width: 530px) {
  body {
    font-size: 1em;
  }

  .--hora-de-acordar {
    top: 457px;
    left: 10%;
    width: 80%;
  }

  .arte-foto-rodape {
    position: relative;
    z-index: 25;
  }

  .back-video {
    position: relative;
    z-index: 26;
    height: 324px;
    margin-left: 0;
  }

  .box-meio-direita {
    position: relative;
    z-index: 19;
    margin-left: 44.48703%;
  }

  .box-meio-esquerda {
    position: relative;
    z-index: 18;
  }

  .copy {
    position: relative;
    z-index: 12;
    margin-left: -0.73998%;
  }

  .download {
    position: relative;
    z-index: 8;
    margin-top: 0;
  }

  .final_rodape {
    position: relative;
    z-index: 2;
  }

  .home {
    position: relative;
    z-index: 0;
  }

  .logo_tipografia {
    position: relative;
    z-index: 29;
    width: 330px;
    height: auto;
    margin-top: -360px;
    margin-left: 18.11321%;
  }

  .pandorum-2017 {
    position: relative;
    z-index: 13;
    margin-left: 28.97406%;
  }

  .pandorum-tipografia {
    top: 421px;
    width: 80.1724137931%;
  }

  .quadrado-data {
    position: relative;
    z-index: 16;
    width: 42.4528301886%;
    margin-top: -127px;
    margin-left: 28.86498%;
  }

  .shop {
    position: relative;
    z-index: 7;
    margin-top: 6px;
  }

  .whats {
    position: relative;
    z-index: 11;
  }

  ._29-04-17 {
    position: relative;
  }

  ._html {
    position: relative;
  }

  .banner-2 {
    position: relative;
    z-index: 9;
  }

  .element-1 {
    position: relative;
    z-index: 28;
    margin-top: -897px;
  }

  .image-2 {
    position: relative;
    z-index: 10;
    width: 352px;
    height: auto;
    margin-top: -704px;
    margin-left: 16.79835%;
  }

  .logo-2 {
    top: 6px;
    left: 40.185731132%;
    width: 104px;
    height: auto;
  }

  .separador-4 {
    position: relative;
    z-index: 15;
    margin-top: -456px;
  }

  .text-4 {
    top: 605px;
    left: 10%;
    width: 80%;
  }

  .text-7 {
    position: relative;
    z-index: 24;
    margin-left: 30.41274%;
  }

  .wrapper-1 {
    z-index: 31;
    margin-top: -749px;
  }

  .wrapper-3 {
    z-index: 27;
    width: 80%;
    height: 203px;
    margin-top: -266px;
    margin-left: 10%;
  }

  ._29-04-17-1 {
    z-index: 17;
    width: 42.2916666666%;
    margin-left: 29.59906%;
  }

  ._29-04-17-2 {
    z-index: 20;
    width: 80%;
    margin-top: -613px;
  }

  ._button-4 {
    position: relative;
    z-index: 1;
    margin-left: -2796202.83019%;
  }

  ._button-6 {
    top: 28px;
    left: 10%;
    width: 25.5172413793%;
  }

  ._button-7 {
    top: 28px;
    left: 64.4%;
    width: 25.5172413793%;
  }

  ._button-9 {
    position: relative;
    z-index: 23;
    margin-left: 62.83019%;
  }

  ._element-1 {
    height: 112px;
  }

  ._input-1 {
    position: relative;
    z-index: 22;
    margin-left: 23.77064%;
  }
}

@media(max-width: 480px) {
  body {
    font-size: 1em;
  }

  .--hora-de-acordar {
    top: 384px;
  }

  .arte-foto-rodape {
    position: relative;
    z-index: 25;
  }

  .back-video {
    position: relative;
    z-index: 26;
    width: 69.6647135416%;
    margin-top: -116px;
  }

  .box-meio-direita {
    position: relative;
    z-index: 19;
    margin-left: 44.49544%;
  }

  .box-meio-esquerda {
    position: relative;
    z-index: 18;
  }

  .copy {
    position: relative;
    z-index: 12;
    margin-top: -722px;
    margin-left: -0.73568%;
  }

  .download {
    position: relative;
    z-index: 8;
    margin-top: 197px;
  }

  .final_rodape {
    position: relative;
    z-index: 2;
    margin-left: -12.5%;
  }

  .home {
    position: relative;
    z-index: 0;
    height: 709px;
  }

  .logo_tipografia {
    position: relative;
    z-index: 29;
    width: 344px;
    height: auto;
    margin-top: -247px;
    margin-left: 15.20508%;
  }

  .pandorum-2017 {
    position: relative;
    z-index: 13;
    width: 42.5%;
    margin-top: -700px;
    margin-left: 28.75%;
  }

  .pandorum-tipografia {
    top: 370px;
    width: 100%;
    font-size: 2.5em;
  }

  .quadrado-data {
    position: relative;
    z-index: 16;
    margin-top: -126px;
    margin-left: 29.79167%;
  }

  .shop {
    position: relative;
    z-index: 7;
    margin-top: 0;
  }

  .whats {
    position: relative;
    z-index: 11;
  }

  ._29-04-17 {
    position: relative;
  }

  ._html {
    position: relative;
  }

  .banner-2 {
    position: relative;
    z-index: 9;
    height: 575px;
  }

  .element-1 {
    position: relative;
    z-index: 28;
    margin-top: -887px;
  }

  .image-2 {
    position: relative;
    z-index: 10;
    width: 269px;
    height: auto;
    margin-top: -518px;
    margin-left: 21.9987%;
  }

  .logo-2 {
    left: 39.0787760416%;
    height: auto;
  }

  .separador-4 {
    position: relative;
    z-index: 15;
    margin-top: -445px;
  }

  .text-4 {
    top: 742px;
  }

  .text-7 {
    position: relative;
    z-index: 24;
    margin-left: 30.41016%;
  }

  .wrapper-1 {
    z-index: 31;
    margin-top: -701px;
  }

  .wrapper-3 {
    clear: both;
    z-index: 27;
    width: 69.6223958333%;
    margin-top: -483px;
    margin-left: 15.99935%;
  }

  ._29-04-17-1 {
    z-index: 17;
    margin-left: 28.95508%;
  }

  ._29-04-17-2 {
    z-index: 20;
  }

  ._button-4 {
    position: relative;
    z-index: 1;
    margin-left: -2796202.70833%;
  }

  ._button-7 {
    left: 64.3999999999%;
  }

  ._button-9 {
    position: relative;
    z-index: 23;
    margin-left: 62.82878%;
    font-size: 0.875em;
  }

  ._input-1 {
    position: relative;
    z-index: 22;
    width: 39.1666666666%;
    margin-left: 23.54167%;
  }
}

@media(max-width: 380px) {
  body {
    font-size: 1em;
  }

  .--hora-de-acordar {
    top: 345px;
  }

  .arte-foto-rodape {
    position: relative;
    z-index: 25;
  }

  .back-video {
    position: relative;
    z-index: 26;
    width: 100%;
    height: 115px;
  }

  .box-meio-direita {
    position: relative;
    z-index: 19;
    margin-left: 44.49013%;
  }

  .box-meio-esquerda {
    position: relative;
    z-index: 18;
  }

  .copy {
    position: relative;
    z-index: 12;
    margin-left: -0.73602%;
  }

  .download {
    position: relative;
    z-index: 8;
  }

  .final_rodape {
    position: relative;
    z-index: 2;
  }

  .home {
    position: relative;
    z-index: 0;
  }

  .logo_tipografia {
    position: relative;
    z-index: 29;
    width: 253px;
    height: auto;
    margin-top: -299px;
    margin-left: 16.79688%;
  }

  .pandorum-2017 {
    position: relative;
    z-index: 13;
    width: 39.0625%;
  }

  .pandorum-tipografia {
    top: 295px;
  }

  .quadrado-data {
    position: relative;
    z-index: 16;
    width: 52.6315789473%;
    margin-top: -301px;
    margin-left: 23.59375%;
  }

  .shop {
    position: relative;
    z-index: 7;
    margin-top: 76px;
  }

  .whats {
    position: relative;
    z-index: 11;
  }

  ._29-04-17 {
    position: relative;
  }

  ._html {
    position: relative;
  }

  .banner-2 {
    position: relative;
    z-index: 9;
  }

  .element-1 {
    position: relative;
    z-index: 28;
    margin-top: -811px;
  }

  .image-2 {
    position: relative;
    z-index: 10;
    width: 218px;
    height: auto;
    margin-left: 21.99836%;
  }

  .logo-2 {
    top: 0;
    left: 33.75%;
    height: auto;
  }

  .separador-4 {
    position: relative;
    z-index: 15;
    margin-top: -450px;
  }

  .text-4 {
    top: 852px;
    font-size: 1.125em;
  }

  .text-7 {
    position: relative;
    z-index: 24;
    margin-left: 30.40296%;
  }

  .wrapper-1 {
    z-index: 31;
    margin-top: -625px;
  }

  .wrapper-3 {
    clear: none;
    z-index: 27;
    width: 69.619140625%;
    margin-top: -319px;
    margin-left: 15.20148%;
  }

  ._29-04-17-1 {
    z-index: 17;
    width: 52.6315789473%;
    margin-top: -291px;
    margin-left: 23.5402999999%;
  }

  ._29-04-17-2 {
    z-index: 20;
    font-size: 1.875em;
  }

  ._button-4 {
    position: relative;
    z-index: 1;
    margin-left: -2796202.89474%;
  }

  ._button-6 {
    left: 0;
    width: 30.3124999999%;
    font-size: 0.75em;
  }

  ._button-7 {
    left: 69.6875%;
    width: 30.625%;
    font-size: 0.75em;
  }

  ._button-9 {
    position: relative;
    z-index: 23;
    width: 15.5263157894%;
    margin-left: 62.82484%;
  }

  ._input-1 {
    position: relative;
    z-index: 22;
    width: 39.2105263157%;
    margin-left: 23.5402999999%;
  }
}

@media(max-width: 320px) {
  body {
    font-size: 1em;
  }

  .--hora-de-acordar {
    top: 333px;
  }

  .arte-foto-rodape {
    position: relative;
    z-index: 25;
  }

  .back-video {
    position: relative;
    z-index: 26;
    margin-top: -351px;
  }

  .box-meio-direita {
    position: relative;
    z-index: 19;
    margin-left: 44.48242%;
  }

  .box-meio-esquerda {
    position: relative;
    z-index: 18;
  }

  .copy {
    position: relative;
    clear: none;
    z-index: 12;
    margin-top: 37px;
    margin-left: 0;
  }

  .download {
    position: relative;
    z-index: 8;
  }

  .final_rodape {
    position: relative;
    z-index: 2;
  }

  .home {
    position: relative;
    z-index: 0;
  }

  .logo_tipografia {
    position: relative;
    z-index: 29;
    height: auto;
    margin-top: -306px;
    margin-left: 10%;
  }

  .pandorum-2017 {
    position: relative;
    clear: both;
    z-index: 13;
    margin-top: -78px;
    margin-left: 29.59961%;
  }

  .quadrado-data {
    position: relative;
    z-index: 16;
  }

  .shop {
    position: relative;
    z-index: 7;
  }

  .whats {
    position: relative;
    z-index: 11;
  }

  ._29-04-17 {
    position: relative;
  }

  ._html {
    position: relative;
  }

  .banner-2 {
    position: relative;
    z-index: 9;
  }

  .element-1 {
    position: relative;
    z-index: 28;
  }

  .image-2 {
    position: relative;
    z-index: 10;
    height: auto;
    margin-top: -542px;
    margin-left: 15.19043%;
  }

  .logo-2 {
    height: auto;
  }

  .separador-4 {
    position: relative;
    z-index: 15;
  }

  .text-7 {
    position: relative;
    z-index: 24;
    margin-left: 30.40039%;
  }

  .wrapper-1 {
    z-index: 31;
  }

  .wrapper-3 {
    z-index: 27;
    margin-top: -344px;
    margin-left: 15.19043%;
  }

  ._29-04-17-1 {
    z-index: 17;
    margin-left: 23.54004%;
  }

  ._29-04-17-2 {
    z-index: 20;
  }

  ._button-4 {
    position: relative;
    z-index: 1;
    margin-left: -2796203.125%;
  }

  ._button-9 {
    position: relative;
    z-index: 23;
    margin-left: 62.82227%;
  }

  ._input-1 {
    position: relative;
    z-index: 22;
    margin-left: 23.54004%;
  }
}